doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(http-equiv="refresh", content=`3; url=${url}`)
    title= title
    if assets.client.css
      link(rel="stylesheet", href=assets.client.css)
    script.
      setTimeout(function () {
        window.location.replace("#{url}")
      }, 3e3)
  body
    a(href=`${url}`)!= placeholder
