doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(http-equiv="refresh", content=`${timeout}; url=${url}`)
    title= title
    script.
      setTimeout(function () {
        window.location.replace("#{url}")
      }, #{timeout}*1e3)
  body
    a(href=`${url}`)!= placeholder
